%p 
  You made it to the Jukebox!
  %a.player{:href=>"/player"} Start listening
  and make some selections

%p Or add to the collection!

%p Here's whats coming up:

%ol.playlist
  - 10.times do
    %li
      %p 
        Crazy crazy song
        %em
          Collin
