%p 
  == Hey #{h @current_user.name.upcase} you made it to the Jukebox!
  %a.player{:href=>"/player"} Start listening
  and make some selections

%form.song{:action => "/songs", :method => "post", :enctype=>"multipart/form-data"}
  %input{:type=>"file", :name => "file", :value => ""}
  %input{:type=>"submit", :value=> ">"}

%p Here's whats coming up:

%ol.playlist
  - 10.times do
    %li
      %p 
        Crazy crazy song
        %em
          Collin
