%p 
  == Hey #{h @current_user.name.upcase} you made it to the Jukebox!
  %a.player{:href=>"/player"} Start listening
  and make some selections

%form.song{:action => "/songs", :method => "post", :enctype=>"multipart/form-data"}
  %input{:type=>"file", :name => "file"}
  %input{:type=>"submit", :value=> ">"}

%p Here's whats coming up:

%ol.playlist
  - Song.each do |song|
    %li
      %p 
        %a{:href=> h(song.url)}= h song.url
        %em
          Collin

/.friends
/  %ul
/    %li Joseph
/    %li Quinn

.chat
  %form
    %input.message{:type => "text", :default_value => "say something..."}
    %input{:type => "submit", :value => "say it"}

  %ol.messages

#player
      
    
