!!!
%style	
%html
  %head
    %title Friends' Jukebox Music-Player
    %script{:src => "/json.js"}
    %script{:src => "/jquery-1.2.6.js"}
    %script{:src => "/jquery.form.js"}
    %script{:src => "/jquery-ui-personalized-1.5.2.packed.js"}
    %script{:src => "/AC_RunActiveContent.js"}
    %script{:src => "/FAVideo.js"}
    %script{:src => "http://localhost:8001/static/TCPSocket.js"}
    :javascript
      ORBITED_PORT = 8001
      ORBITED_DOMAIN = "localhost"

    %script{:src => "/application.js"}
    %script{:src => "/legs.js"}

    %link{:rel => "stylesheet", :href => "/main.css"}
    
  %body
    %h1 
      %a{:href => "/"} The Friends' Jukebox Music-Player
    %p What a wonderful way to listen to music.
    - if session[:flash]
      %p.flash= session[:flash]
      - session[:flash] = nil

    - if @current_user
      =partial :user_tab
    %hr/
    =yield