%h1
  Following controller, index action
%p
  Edit this file in
  %tt
    app/views/following/index.html.erb
%table
  %tr
  - for following in @following
    %tr
      %td
        = link_to 'Show', url(:following, following)
      %td
        = link_to 'Edit', url(:edit_following,  following)

= link_to 'New', url(:new_following)